@charset "UTF-8";

body {
    background-color: rgb(159, 243, 156);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 75, 3);;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(57, 70, 56);;
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: rgb(126, 128, 0);
}

.avancado {
    color: rgb(128, 47, 0);
}